* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tahoma', sans-serif; /* فونت‌های مناسب برای متن فارسی */
    background-color: #1e90ff; /* پس‌زمینه آبی */
    color: #333;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    direction: rtl; /* جهت‌دهی به راست برای کل صفحه */
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
}

h1 {
    color: #1e90ff;
    margin-bottom: 10px;
    font-family: 'Vazir', 'Tahoma', sans-serif; /* فونت مناسب برای متن فارسی */
}

p {
    margin-bottom: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: right; /* متن‌های لیبل به راست تراز می‌شوند */
    color: #333;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    text-align: right; /* متن ورودی هم راست‌چین می‌شود */
}

input[type="text"]:focus {
    outline: none;
    border-color: #4682b4;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

button {
    padding: 10px;
    background-color: #4682b4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4169e1;
}

#output {
    margin-top: 20px;
    text-align: right; /* عنوان نتیجه هم راست‌چین شود */
}

textarea#result-text {
    width: 100%;
    height: 200px; /* ارتفاع بیشتر برای جعبه متنی */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333;
    resize: none;
    text-align: right; /* متن خروجی راست‌چین شود */
    direction: rtl; /* جهت نمایش متن به صورت راست به چپ */
    overflow-y: scroll; /* برای نمایش اسکرول در صورتی که متن زیاد شود */
    font-family: 'Tahoma', sans-serif; /* فونت مناسب برای متن فارسی */
}

textarea#result-text:focus {
    outline: none;
    border-color: #4682b4;
}
