<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پردازش متن</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <!-- لوگوی شما -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="لوگو" class="logo">
        <h1>طراحی هوشمند سوال</h1>
    </div>

    <div class="form-container">
        <form id="input-form">
            <label for="user-input">لینک محتوا :</label>
            <input type="text" id="user-input" name="user-input" required placeholder="متنی تایپ کنید..." autofocus>
            <button type="submit">ارسال</button>
        </form>
    </div>

    <div id="output">
        <textarea id="result-text" readonly>سوالات طراحی شده ....</textarea>
    </div>

    <!-- اضافه کردن جاوا اسکریپت -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
