<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پردازش متن</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <!-- لوگوی شما -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="لوگو" class="logo">

        <h1>طراحی هوشمند سوال</h1>
        <!-- <p>لینک محتوای آموزشی خود را وارد نمایید:</p> -->
        <!-- use some line space -->
        <br>
        <br>
        <form id="input-form">
            <label for="user-input">لینک محتوا :</label>
            <input type="text" id="user-input" name="user-input" required placeholder="متنی تایپ کنید..." autofocus>
            <button type="submit">ارسال</button>
        </form>

        <div id="output">
            <h2>نتیجه:</h2>
            <!-- جعبه متنی بزرگ‌تر برای نمایش خروجی -->
            <textarea id="result-text" readonly>سوالات  طراحی شده ....</textarea>
        </div>
    </div>

    <!-- اضافه کردن جاوا اسکریپت -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
